/*global*/
*{
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(87, 87, 87);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*header*/
header{
    width: 100vw;
    height: 100vh;
    background-image: url(design/header3.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
}

h3{
  font-size: 6vw;
  color: rgb(184, 109, 255);
}

h4{
  font-size: 6vw;
  color: rgb(255, 255, 255);
}

@media(max-width :991px){
  h3{
   font-size: calc(1rem + 1.5rem);
  }
    
  h4{
    font-size: calc(1rem + 1.5rem);
  }
}

.judul{
margin-left: 4%;
}
/*global text*/

.title{
  margin-top: 40px;
  text-align: center;
  font-size: 4.5vw;
  align-items: center;
  font-weight: 550;
  display: flex;
  justify-content: center;
}

.warna{
  color: rgb(169, 77, 255);
  margin-right: 11px;
}
.warna1{
  color: rgb(169, 77, 255);
}

.deskripsi{
  text-align: center;
  font-size: 1.5vw;
  align-items: center;
}

@media (max-width: 48rem) {
  .des {
    font-size: calc(0.2rem + 1rem);
  }

}

/*navbar*/
.logo{
  width: 70px;
}

.nav{
  align-items: center;
  align-items: center;
  align-content: center;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.384);
  backdrop-filter : blur(3px);
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 53px;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: rgb(169, 77, 255);
}


.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*konten1*/
.konten1{
  width: 100vw;
  background-color: rgb(46, 46, 46);
}

.foto-kiri{
  width: 100%;
}

.foto-kanan{
  width: 100%;
}

.teks-kanan{
  padding: 50px;
}

.teks-kiri{
  padding: 50px;
}

h1{
  font-size: 2.7rem;
}

h2{
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width : 991px){
  h1{
    font-size: calc(1rem + 1rem);
  }
    
  h2{
    font-size: calc(0.5rem + 0.5rem);
  }
}

.layout-atas{
  display: grid;
  width: 100%;
  grid-template-columns:  repeat(auto-fit, minmax(400px,1fr));
}

.layout-bawah{
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(400px,1fr));
 }

/*konten2*/
.konten2{
  width: 100vw;
}

.slider{
  margin-top: 10%;
  max-height: 550px;
  display: flex;
  overflow-x: auto;
  margin-bottom: 10%;
}

.slider .item{
  height: 200px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.n-makanan{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nama{
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  margin-top: 15px;
  display: inline-flex;
}

.des{
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin-top: 5px;
}

.des1{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 4%;
}

@media (max-width : 991px){
  .nama{
    font-size: calc(0.2rem + 0.9rem);
  }
  .des{
    font-size: calc(0.2rem + 0.5rem);
  }
  .des1{
    font-size: calc(0.2rem + 0.5rem);
  }
}


/*konten3*/
.konten3{
  width: 100vw;
  background-color: rgb(46, 46, 46);
}

.peta{
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80%;
}

.from{
  margin-left: 15%;
  margin-top: 7px;
}

/*footer*/
.footer{
  background-color: rgb(73, 73, 73);
  color: white;
  height: 200px;
  width: 100vw;
  text-align: center;
  font-family: sans-serif;
}

.wa{
  width: 30px;
  margin-right: 5px;
}

.ig{
  margin-left: 5px;
  width: 30px;
}

.icon{
  margin-top: 25px;
}

